<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>이미지 파일 업로드 테스트</title>
</head>
<body>
    <form id="upload-form" enctype="multipart/form-data">
        <input type="file" name="image">
        <button type="submit">업로드</button>
    </form>

    <img src="http://localhost:3000/image/image-1678369886980" alt="Profile picture">
    <script>
    const form = document.getElementById('upload-form');
      form.addEventListener('submit', (event) => {
        event.preventDefault();
        const formData = new FormData(form);
        const postId =6; // 실제 포스트 ID로 교체해야 함
        fetch(`/posts/${postId}/image`, {
          method: 'POST',
          body: formData
        }).then((response) => {
          if (response.ok) {
            alert('이미지가 업로드 되었습니다.');
          } else {
            alert('이미지 업로드에 실패했습니다.');
          }
        }).catch((error) => {
          console.error(error);
        });
      });
    </script>
</body>
</html>